html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(Subtle-Prism.svg);
	/* background-repeat: no-repeat; */
	background-size: cover;
}

input {
	border: none;
	outline: none;
	background-color: red;
	width: 296px;
	height: 100px;
	font-size: 20px;
	/* border-radius: 20px; */
}
td,
th {
	border: 0.4px solid rgba(79, 78, 78, 0.083);

	text-align: left;
	padding: 10px;
}

table {
	text-align: center;
	background-color: black;
	width: 300px;
}
button {
	width: 50px;
	font-size: 32px;
	background-color: black;
	color: white;
	border: none;
	padding: 7px;
}
.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 215px;
}
